{% extends "base.html" %}
{% from "macros/blog_post_home.html" import blog_post_home with context %}
{% from "macros/search_widget.html" import search_widget with context %}
{% from "macros/widget_with_links.html" import two_col_links_widget with context %}
{% block styles %}
{{super()}}
<link rel="stylesheet" href="/main/css/about.css">
<link rel="stylesheet" href="/main/css/base.css">
{% endblock %}

{% block content %}
<div class="container-fluid bg-1 text-center">
    <img src="/main/img/matt_headshot.jpg" class="rounded-circle" alt="Matt Camp">
    <h3>Marine Veteran and Data Geek</h3>
    <p>I spent 11 years in the Marine Corps as both an artilleryman and finally an intelligence analyst. Currently I am living in North Alabama where I received my Master's degree in Buissness Analytics from the University of Alabama in Huntsville. My interest are very eclectic and range from history and firearms to data and technology. This page was started as a way for me to learn more about building Python WebApps and to showcase projects I work on in my spare time.</p>
    <br>
    <br>

</div>


{% block footer %}
{{super()}}
<footer class="footer container-fluid text-center">
    <span class="text-muted">
            <h5>Find me on</h5>
<a target="_blank" href="https://github.com/usmcamp0811"><img src="/main/img/github-256.png" class="find_me"></a>
<a target="_blank" href="https://www.linkedin.com/in/matthewjcamp/"><img src="/main/img/linkedin_circle_black-256.png" class="find_me"></a>
    </span>
</footer>
{% endblock %}
{% endblock %}