{% extends "base.html" %}
{% from "macros/blog_post_home.html" import blog_post_home with context %}
{% from "macros/search_widget.html" import search_widget with context %}
{% from "macros/widget_with_links.html" import two_col_links_widget with context %}
{% block styles %}
{{super()}}
<link rel="stylesheet" href="/main/css/about.css">
{% endblock %}

{% block content %}
<div class="container-fluid bg-1 text-center">
    <!--<h3>Who Am I?</h3>-->
        <img src="/main/img/matt_headshot.jpg" class="rounded-circle" alt="Matt Camp">
    <!--<h3>I'm a Marine Veteran turned Data Geek</h3>-->
</div>


    <div class="container-fluid bg-2 text-center">
        <div class="about_me">
        <h3>Who is Matthew Camp?</h3>
        <p class="about_me text-center">I am an 11 year Marine combat veteran currently living in North Alabama. I received my Master's degree in Buissness Analytics from the University of Alabama in Huntsville in 2017. My interest are very eclectic and range from firearms and cooking to data and technology. This page was started as a way for me to learn more about building Python WebApps and to showcase projects I work on in my spare time.</p>
        </div>

    </div>

<div class="container-fluid bg-3 text-center">
    <h4>Find me on.</h4>
    <img src="/main/img/mark-github-256.png" class="find_me">
    <img src="/main/img/linkedin-logo_318-76861.jpg" class="find_me">
</div>




{% endblock %}