{% extends "base.html" %}
{% from "macros/blog_post_home.html" import blog_post_home with context %}
{% from "macros/search_widget.html" import search_widget with context %}
{% from "macros/widget_with_links.html" import two_col_links_widget with context %}
{% block styles %}
{{super()}}
<link rel="stylesheet" href="/main/css/blog_home.css">
{% endblock %}

{% block content %}
 <!-- Page Content -->
    <div class="container page_content">

      <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">

          <h1 class="my-4">Blog Post Coming Soon...</h1>

          {% for blog_post in blog_posts %}
          {{blog_post_home(blog_post)}}
          {% endfor %}

    </div>

          {{two_col_links_widget(links.title, links.links_col1, links.links_col2)}}


          <!-- Side Widget -->
          <div class="card my-4">
            <h5 class="card-header">Random Quote</h5>
            <div class="card-body">
              “Leave the Artillerymen alone, they are an obstinate lot. . .” – Napoleon Bonaparte
            </div>
          </div>

        </div>

      </div>
<!-- /.row -->
{% endblock %}

