{% extends "base.html" %}
{% from "macros/footer.html" import footer with context %}


{% block styles %}
{{super()}}
<link rel="stylesheet" href="/main/css/under_construction.css">
<link rel="stylesheet" href="/main/css/base.css">

{% endblock %}

{% block content %}
<div id="construction_containter" class="container-fluid bg-1 text-center">
    <img class="uc_img" src="/main/img/robots.png" alt="Matt Camp">
    <h3>Under Construction</h3>




{% block footer %}
{{super()}}
{{footer()}}
{% endblock %}
{% endblock %}

{% block scripts %}
{{super()}}

{% endblock %}