{% extends "base.html" %}
{% block styles %}
{{super()}}
<link rel="stylesheet" href="/main/css/under_construction.css">
{% endblock %}

{% block content %}
<div class="container-fluid bg-1 text-center">
    <img class="uc_img" src="/main/img/robots.png" alt="Matt Camp">
    <h3>Under Construction</h3>

</div>
<footer class="footer container-fluid bg-2 text-center">
      <div class="container">
        <span class="text-muted">
                <h5>Find me on</h5>
    <a target="_blank" href="https://github.com/usmcamp0811"><img src="/main/img/github-256.png" class="find_me"></a>
    <a target="_blank" href="https://www.linkedin.com/in/matthewjcamp/"><img src="/main/img/linkedin_circle_black-256.png" class="find_me"></a>
        </span>
      </div>
</footer>

{% endblock %}