.bg-1 {
	background-color: #303030;
	color: #fff;
    background: url(../img/4-14_Marines_in_Fallujah.jpg) no-repeat !important;
    padding-top:100px;
    background-size:cover;
    height: 50%;
}

.bg-2 {
  background-color: #ed4924;;
  color: #ffffff;
}
.bg-3 {
  background-color: #ffffff; /* White */
  color: #555555;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}