#topnav {
    background-color: #517399 !important;
    border-color: #fff;
    color: #fff !important;
    position: fixed;
    height: 45px;
}

#topnav .navbar_container {
    height: 45px;
    padding: 0px;
    max-width: 98% !important;
}

.navbar {
    position: fixed;
    height: 45px;

}

.navbar_logo {
    height: 35px;
    padding-bottom: 0px;
    padding-right: 40px;
}

body {
    padding-top: 51px;
}

@media (min-width: 992px) {
    body {
        padding-top: 50px;
    }
    .dropdown-menu {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        display: none;
        float: left;
        min-width: 10rem;
        padding: .5rem 0;
        margin: .125rem 0 0;
        font-size: 1rem;
        color: #212529;
        text-align: left;
        list-style: none;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0,0,0,.15);
        border-radius: .50rem;
    }
}