.bg-1 {
	/*background-color: #1d3557;*/
    /*background-color: #f1faee;*/
	color: #555555;
    /*background: url(../img/4-14_Marines_in_Fallujah.jpg) no-repeat !important;*/
    padding-top:50px !important;
    background-size:cover !important;
    background-position:center center !important;
    background-attachment:fixed !important;
    background-blend-mode: multiply !important;
}

.bg-2 {
  /*background-color: #e63946;*
  /
   */
  color: #000000;
}
.bg-3 {
  background-color: #f1faee; /* White */
  color: #555555;
}

/*.container-fluid {*/
    /*padding-top: 70px;*/
    /*padding-bottom: 70px;*/
    /*width: 50%;*/
/*}*/

.find_me {
    height: 42px;
}

.about_me {
    text-align: justify;
    align-content: center;
    width: 50%;
}

.rounded-circle {
    height: 120px;
}

.page_content {
    padding-top: 50px;
}



.uc_img {
    width: 80%;
    max-width: 689px;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
    width: 50%;
}