{% macro top_navbar(active_page) %}
    <!-- Navigation -->
    <nav id="topnav" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div id="topnav" class="container navbar_container">
        <a target="_blank" href="http://mattcamp.org" class="navbar-brand"><img class="navbar_logo" src="/main/img/customLogo.png"></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">

          <ul class="navbar-nav ml-auto">

            <li class="nav-item {{ 'active' if active_page == 'about' else '' }}">
              <a class="nav-link" href="/about">About</a>
            </li>


            <li class="nav-item {{ 'active' if active_page == 'blog' else '' }}">
              <a class="nav-link" href="/blog">Blog
                <span class="sr-only">(current)</span>
              </a>
            </li>


          <li class="nav-item dropdown {{ 'active' if active_page == 'projects' else '' }}">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Projects</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="#">Garage Door Camera</a>
              <a class="dropdown-item" href="/projects/bitcoin_dashboard">Crypto Currency</a>
              <!--<a class="dropdown-item" href="/projects/api/current_price/">Crypto Socket</a>-->
            </div>
          </li>


          <li class="nav-item {{ 'active' if active_page == 'resume' else '' }}">
              <a class="nav-link" href="/resume">Resume</a>
          </li>

          <li class="nav-item dropdown {{ 'active' if active_page == 'examples' else '' }}">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Examples</a>
            <div class="dropdown-menu" aria-labelledby="dropdown02">
              <a class="dropdown-item" href="/example/datatable">DataTables</a>
              <a class="dropdown-item" href="/example/flot_lineplot">Flot Plot</a>
            </div>
          </li>
          </ul>
        </div>
      </div>
</nav>
{% endmacro %}